.header {
  padding-bottom: 100px;
  text-decoration: none;
}

.about-link {
  float: left;
}

.store-link {
  float: left;
}

.google-logo {
  margin: auto;
}

.footer {
  text-decoration: none;
  background-color: RGB(232, 223, 216);
  color: RGB(107, 107, 107);
  position: absolute;
  bottom: 0px;
}

.footer-left {
  float: left;
}

.footer-middle {
  margin: auto;
}

.footer-right {
  float: right;
}
